<h3>Create Reservation</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Date Trajet</label>
      <input type="text" class="form-control" id="dateTrajet" required [(ngModel)]="reservation.dateTrajet" name="dataTrajet">
    </div>

    <div class="form-group">
      <label for="name">Bus Id</label>
      <input type="text" class="form-control" id="busId" required [(ngModel)]="reservation.busId" name="busId">
    </div>

    <div class="form-group">
      <label for="name">Client Id</label>
      <input type="text" class="form-control" id="clientId" required [(ngModel)]="reservation.busId" name="clientId">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
   
</div>